.btn-h1-spacing {
	margin-top: 18px;
}

.form-spacing-top {
	margin-top: 30px;
}


html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.loader{

  background-image: url('../images/gears.svg');
  height: 100%;
  width: 100%;
  position: fixed;
 
  

  background-repeat: no-repeat;


}
.about{
  padding-top: 50px;
  position: initial;
  margin: 10px;
  text-align: justify;
  display: inline-grid;
  overflow: auto;
  margin-bottom: 100px;
}